.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}

.addition-button {
    cursor: pointer;
    color: blue;
}
.substraction-button {
    cursor: pointer;
    color: green;
}

